.img{
  position: relative;
  float: left;
  width:  100%;
  height: 300px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.card:hover{
  cursor:pointer;
}
