.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  position:absolute;
  display: inline-block;
  height:40px;
  z-index:10;
}

.previous:hover {
  background-color: #ddd;
  color: black;
  cursor:pointer;
}

.img{
  position: relative;
  float: left;
  width: 100%;
  height: 50vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
}

.border{
  outline: solid 0.5px;
  border: solid 0.5px;
}

img:hover {
  cursor: pointer;
}
