.verticallyScrollable{
  overflow-y: scroll;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  position:absolute;
  display: inline-block;
  height:40px;
  z-index:10;
}

.previous:hover {
  background-color: #ddd;
  color: black;
  cursor:pointer;
}

.dropzone{
  position: relative;
  float: left;
  width:  100%;
  height: 50vh;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor:default;
}

.thumbsContainer {
  display: flex;
  flexDirection: row;
  flexWrap: wrap;
  marginTop: 16;
}

.thumb {
  display: inline-flex;
  borderRadius: 2;
  border: 1px solid #eaeaea;
  marginBottom: 8;
  marginRight: 8;
  width: auto;
  height: 70%;
  padding: 4;
  boxSizing: border-box;
}

.thumbInner {
  display: flex;
  minWidth: 0;
  overflow: hidden;
}

.img{
  position: absolute;
  float: left;
  width: 100%;
  height: 50vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
}

.removeTag {
  cursor: pointer;
}

.validateButton {
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;  
}

textarea {
  resize: none;
}
