.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #59A57F; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.loaderContent {
    height: 94vh;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.verticallyScrollable {
  overflow-y: scroll;
}

.addButton {
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}
.addButton :hover {
  background-color: inherit !important;
  color: inherit !important;
}
